{{define "sayhello"}}
{{template "header"}}
<div class="container">
    <h1>Welcome to ZEUS</h1>
    <p>
        zeus: 管理艺索所有站点入口
    </p>
    <br>
    <br>
    <div class="well well-lg">
        <p>
            日志平台
        </p>
        <p>
            点击<a href="/gamelog/">此处</a>进入管理页面。
        </p>
    </div>
    <div class="well well-lg">
        <p>
            GM平台
        </p>
        <p>
            点击<a href="/gm_specs/">此处</a>进入管理页面。
        </p>
    </div>
    <div class="well well-lg">
        <p>
            CDK平台
        </p>
        <p>
            点击<a href="/cdk/">此处</a>进入管理页面。
        </p>
    </div>
    <div class="well well-lg">
        <p>
            分析平台
        </p>
        <p>
            点击<a href="/analysis/">此处</a>进入管理页面。
        </p>

    </div>
    <br>
</div>
{{template "footer" .}}
{{end}}